:root {
  --gradient: linear-gradient(to left top, #9FA6B2 10%, #292b2c 90%) !important;
}

body {
  background: #111 !important;
}

.card {
  background: #222;
  color: rgba(250, 250, 250, 0.8);
}

.card-body {
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-bottom-right-radius: calc(0.25rem - 1px);
}

.btn {
  border: 5px solid;
  border-image-slice: 1;
  color: black;
  background: #898e96 !important;
  text-decoration: none;
  transition: all .4s ease;
}

.btn:hover, .btn:focus {
  background: #292b2c !important;
  -webkit-text-fill-color: #fff !important;
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}